POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# MinIO (S3-compatible storage)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Netdata
NETDATA_PORT=19999

# Amnezia WG Easy (VPN)
AMNEZIA_LANGUAGE=en
AMNEZIA_WG_HOST=
AMNEZIA_PASSWORD=
AMNEZIA_PORT=443
AMNEZIA_WG_PORT=443

PORTAINER_ADMIN_PASSWORD_HASH=
PORTAINER_HTTPS_PORT=9443
PORTAINER_HTTP_PORT=9000